<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <appSettings>
    <add key="application" value="Desktop.WPF.Main.exe" />
    <add key="resourceDictionary" value="Themes/Wildcat/Wildcat-Icon-Standard.xaml" />
  </appSettings>
</configuration>
